.but1{
    width: 50px;
    height: 50px;
 }
 .but2{
    width: 50px;
    height: 50px;
 }
 .but3{
    width: 50px;
    height: 50px;
 }
 .but4{
    width: 50px;
    height: 50px;
 }
 .but5{
    width: 50px;
    height: 50px;
 }
 .but6{
    width: 50px;
    height: 50px;
 }
 .but7{
    width: 50px;
    height: 50px;
 }
 .but8{
    width: 50px;
    height: 50px;
 }
 .but9{
    width: 50px;
    height: 50px;
 }
 .but10{
    width: 50px;
    height: 50px;
 }
 .but11{
    width: 50px;
    height: 50px;
 }
 .but12{
    width: 50px;
    height: 50px;
 }
 .but13{
    width: 50px;
    height: 50px;
 }
 .but14{
    width: 50px;
    height: 50px;
 }
 .but15{
    width: 50px;
    height: 50px;
 }
 .but16{
    width: 50px;
    height: 50px;
 }
 .but17{
    width: 50px;
    height: 50px;
 }
 .but18{
    width: 50px;
    height: 50px;
 }
 .but19{
    width: 50px;
    height: 50px;
 }
 .but20{
    width: 50px;
    height: 50px;
 }
 .but21{
    width: 50px;
    height: 50px;
 }
 .but22{
    width: 50px;
    height: 50px;
 }
 .but23{
    width: 50px;
    height: 50px;
 }
 .but24{
    width: 50px;
    height: 50px;
 }
 .but25{
    width: 50px;
    height: 50px;
 }
 .but26{
    width: 50px;
    height: 50px;
 }
 .but27{
    width: 50px;
    height: 50px;
 }
 .but28{
    width: 50px;
    height: 50px;
 }
 .but29{
    width: 50px;
    height: 50px;
 }
 .but30{
    width: 50px;
    height: 50px;
 }
 .but31{
    width: 50px;
    height: 50px;
 }
 .but32{
    width: 50px;
    height: 50px;
 }
 .but33{
    width: 50px;
    height: 50px;
 }
 .but34{
    width: 50px;
    height: 50px;
 }
 .but35{
    width: 50px;
    height: 50px;
 }
 .but36{
    width: 50px;
    height: 50px;
 }
 .but37{
    width: 50px;
    height: 50px;
 }
 .but38{
    width: 50px;
    height: 50px;
 }
 .but39{
    width: 50px;
    height: 50px;
 }
 .but40{
    width: 50px;
    height: 50px;
 }
 .but41{
    width: 50px;
    height: 50px;
 }
 .but42{
    width: 50px;
    height: 50px;
 }
 .but43{
    width: 50px;
    height: 50px;
 }
 .but44{
    width: 50px;
    height: 50px;
 }
 .but45{
    width: 50px;
    height: 50px;
 }
 .but46{
    width: 50px;
    height: 50px;
 }
 .but47{
    width: 50px;
    height: 50px;
 }
 .but48{
    width: 50px;
    height: 50px;
 }
 